<html lang="en">
  <head>
<title>OH NO</title>
  </head>

  <body>

		  	<form>
			<label>1. <input type="text" name="answ1"> девочки идут в школу.</label><br>
			<label>2. <input type="text" name="answ2"> брата умеют кататься на роликах.</label><br>
			<label>3. Не волнуйся, я решу <input type="text" name="answ3"> проблемы.</label><br>
			<label>4. По <input type="text" name="answ4"> стороны реки растут деревья.</label><br>
			<label>5. Я не нарисую твой портрет, потому что <input type="text" name="answ5"> моих карандаша дома.</label><br>
			<label>6. Мне нравятся <input type="text" name="answ6"> фильма про Капитана Америку.</label><br>
			<label>7. -Ты хочешь работать врачом или учёным?<br>
			 – Не знаю, <input type="text" name="answ7"> профессии интересные.</label><br>
			<label>8. Родители всегда кладут <input type="text" name="answ8"> подарка для нас под ёлку.</label><br>
			<label>9. <input type="text" name="answ9"> ситуации одинаково неприятные.</label><br>
			<label>10. Не могу выбрать, что надеть. <input type="text" name="answ10"> платья мне идут.</label><br>
			<label>11. Почему мы не можем купить <input type="text" name="answ11"> игрушки?</label><br>
			<label>12. Русский и японский – очень сложные языки, но я учу <input type="text" name="answ12"> языка.</label><br>
			<label>13. Я могу решить <input type="text" name="answ13"> задачи по математике.</label><br>
			<label>14. Мы хотим провести <input type="text" name="answ14"> выходных дня в деревне.</label><br>
			<label>15. Папа забрал из машины <input type="text" name="answ15"> пакета с продуктами.</label><br>
			<input type="submit" value="Отправить">
		</form>

  </body>
</html>
