<html lang="en">
  <head>
<title>OH NO</title>
  </head>

  <body>

<form>

</label>1.	–А ты играешь на гитаре или на пианино?<br>
-Я умею играть на <input type="text" name="answ1"> (инструмент).</label><br>
</label>2.	–Какие красивые картины у тебя в комнате. Что это за художник?<br>
–<input type="text" name="answ2"> (картина) нарисовала моя дочь.<br>
-Она очень талантливая!</label><br>
</label>3.	–Мы решили провести два совещания во вторник и в пятницу. Когда тебе удобно?<br>
-Извини, я не смогу прийти на <input type="text" name="answ3"> (встреча).</label><br>
</label>4.	–Маша, почему ты так плохо написала контрольную работу по биологии?<br>
-Я заболела и пропустила на прошлой неделе  <input type="text" name="answ4"> (урока).</label><br>
</label>5.	-Тебе больше нравится Достоевский или Толстой?<br>
-Я считаю <input type="text" name="answ5"> (мужчина) великими писателями.</label><br>
</label>6.	-Мы принесли <input type="text" name="answ6"> (стол) из спальни в гостиную, куда их поставить?<br>
-Рядом с окном. Там светлее.</label><br>
</label>7.	Из-за кризиса <input type="text" name="answ7"> (банк) разорились.</label><br>
</label>8.	–Почему ты приехал на автобусе?<br>
-Я продал <input type="text" name="answ8"> (машина). Хочу купить новую.</label><br>
</label>9.	Я постоянно  забываю выпить <input type="text" name="answ9"> (таблетка).</label><br>
</label>10.	–Ты уже нашёл бездомным котятам новых хозяев?</label><br>
-Я слишком люблю животных и решил оставить <input type="text" name="answ10"> (котёнок) себе.<br>


<input type="submit" value="Отправить">
</form>

  </body>
</html>
