<html lang="en">
  <head>
<title>OH NO</title>
  </head>

  <body>

<form>
<label>1.	Это мои подруги – Света и Катя. <input type="text" name="answ1">(они) работают в школе.</label><br>
<label>2.	- У меня дома живут два ежа.<br>
- За ними тяжело ухаживать?<br>
- Нет, <input type="text" name="answ2"> (они) спят целыми днями.</label><br>
<label>3.	- Никита и Костя упали с крыши!<br>
- Это ужасно. Как они себя чувствуют?<br>
-Не знаю. <input type="text" name="answ3"> (они) положили в больницу.<br>
- Мы должны навестить мальчиков.</label><br>
<label>4.	– Привет, Маша. Не хочешь позвать свою подругу и пойти вместе в кино?<br>
-Не могу. <input type="text" name="answ4"> (мы) должны быть дома через час.</label><br>
<label>5.	–Ты знаешь, где учится Лёша?<br>
- <input type="text" name="answ5"> (мы) учимся в МГУ. А что?</label><br>
<label>6.	Лена, Наташа, быстро идите домой! У<input type="text" name="answ6"> (вы) вся одежда уже мокрая.</label><br>
<label>7.	Юноши, <input type="text" name="answ7"> (вы) я попрошу остаться в моём кабинете.</label><br>
<label>8.	–Ты не видел моих братьев?<br>
-Нет. А что случилось.<br>
-Уже целый час не могу дозвониться до <input type="text" name="answ8"> (они).</label><br>
<label>9.	–Почему тебя и Димы не было в школе?<br>
- <input type="text" name="answ9"> (мы) решили пойти в кино на новый фильм.<br>
-Вы знаете, что учительница будет звонить вашим родителям?</label><br>
<label>10.	 –Кому ты купила цветы?<br>
-Маме. Я и моя сестра разбили вазу, и мама обиделась на <input type="text" name="answ10"> (мы).</label><br>
<input type="submit" value="Отправить">
</form>

  </body>
</html>
